body{
	font-family: Lato;
}
.controlContainer{
    display: inline-block;
    width: calc(33% - 112px);
    height: 100px;
    clear: right;
    vertical-align: top;
}
.controlContainer.capAtStandardRepayment{
    width: 308px;
    margin-left: 10px;
}
#repaymentChart, #yearsChart{
	float: left;
	margin-bottom: 10px;
}
#repaymentChart{
	clear: left;
	padding-left: 90px;
}

/*#sections{
  pointer-events: none;
  opacity: 0;
}
*/

*:focus{
  outline: none;
}
body{
  font-family: "Lato";
}
.container {
  width: 1180px;
  margin: 0 auto;
}

#graphic {
  padding-top: 60px;
}

#topTitle{
  font-size: 30px;
  text-align: center;
  padding-bottom: 20px;
}
#topText{
  height: 400px;
  overflow: hidden;
  margin-top: -140px;
  padding: 40px;
  margin-bottom:80px;
  font-size:16px;
  font-weight:400;
  color:#000;
  background: #fff; 
  z-index: 1000;
  position: relative;
}
#bottomTitle{
  font-weight: bold;
  margin-bottom: 10px;  
}
#bottomContent{
  width: 1150px;
    margin: 0 auto;
    padding: 0px;
}
#topHR{
  width: 130px;
  height: 6px;
  background-color: #1696d2;
  margin: 0 auto;
  margin-bottom: 20px;
}


p{
  line-height:1.6;
  margin-bottom:15px !important;
}


#isMobile, #isPhone{
    display: none;
    pointer-events: none;
    width: 0;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
}

@media (max-height: 636px) , (max-width: 768px){
  #isPhone{
    display: block;
  }
}

@media (max-width: 1200px){
  .container{
    margin-left: 10px;
  }
}
@media (max-width: 1170px){
  .headerimage{
    height: 440px !important;
  }
  .container{
    margin-left: auto;
    width: 100%;
  }
  #isMobile{
    display: block;
  }
  #topText, #bottomContent{
    font-size: 18px;
  }
}
@media (max-width: 930px){
  .headerimage {
    height: 350px !important;
  }
  #topTitle {
    font-size: 25px;
  }
}
@media (max-width: 768px){
  .step {
    margin-bottom: 1200px;
  }
}
@media (max-width: 350px){
  #sections{
    /*width: 300px;*/
    left: -20px;
    /*pointer-events: none;*/
  }
}

@media (max-width: 500px){
  .headerimage {
    height: 180px !important;
    top: 20px;
  }
  #topText, #bottomContent{
    margin-top: -90px;
    padding: 20px;
  }
  #sections{
    width: 300px;
    /*left: -20px;*/
    pointer-events: none;
  }
}



/********header (below urban menu)**********/
   

.headerimage{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 720px;
  z-index:-1;
}

.headerwrapper{
  padding-top:120px;
}

#heroimage{
  background-image: url(../images/0209illustration.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}


@media (max-width: 2000px) {
  .headerimage{ height:600px;}
}

@media (max-width: 1400px) {
  .headerimage{ height:500px;}
}

/*browser windows smaller than 850px*/
@media (max-width: 600px) {
   .headerimage{ height:300px;}
   .div-title-block {
    font-size: 1.6em !important;
   }
}

@media (max-width: 991px) {
   
   .headerwrapper{padding-top:125px;}
   
}

@media  (max-width: 480px) {
   .container {margin-bottom: 40px; padding:0px 4px;}
   .headerimage{width: 100%; height: 300px;}
   .headerwrapper{padding-top:80px;}
   h1 { font-size:24px;}
 
}








#gradientHolder{
	pointer-events: none;
	bottom: 0px;
    position: absolute;
}
#clickToExpand{
  position: absolute;
  bottom: 10px;
  z-index: 100;
  color: #1696d2;
  left: calc(50% - 160px);
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  width: 320px;
  text-align: center;
}

.buttonLink{
  color: #1696d2;
  cursor: pointer;
}
/********************************************************/
/*********************** CHARTS *************************/
/********************************************************/

.repaymentLine, .yearsLine{
	fill: none;
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
}
.repaymentLine.input, .yearsLine{
	stroke: #1696d2;
}
.repaymentLine.fixed{
	stroke: #fdbf11;
}

.axis--y .tick line{
	stroke: #dedddd;
	stroke-width: 1px;
}
.axis--y path{
	display: none;
}
.axis text{
	font-family: Lato;
	font-size: 12px;
}
#tenYearLabel{
	font-size: 14px;
    font-weight: bold;
}
.axisLabel{
  font-size: 12px;
  font-style: italic;
  font-family: Lato;
}

#notes-container {
  display: inline-block;  
  /*width: 100%;*/
  /*max-width: 1000px;*/
  padding-left: 90px;
  margin: 0 auto;
}

#notes{
  font-size: 11px;
  /*display: inline-block;*/
  float: left;
  width: 786px;
  padding-left: 40px;
}
#notes span{
  display: block;
}

.urban-logo {
  float: right;  
  padding-left: 25px;
}


.urban-logo-text {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: right;
}

/********************************************************/
/******************* CONTROLS ***************************/
/********************************************************/

#controls{
	width: 1000px;
	margin: 0 auto;
}
#controlTitle{
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
#buttons{
  width: 100%;
  margin-bottom: 80px;
}
#buttons .button{
  display: inline-block;
  padding: 12px;
  background: #d2d2d2;
  color: #696969;
  font-size: 14px;
  margin-left: 15px;
  cursor: pointer;
  vertical-align: top;
  position: relative;
}
.currentLaw{
  position: absolute;
  bottom: -17px;
  left: 0px;
  font-style: italic;
  color: #848081;
}
#buttonLabel{
  color: #848081;
  font-style: italic;
  font-size: 14px;
  width: 180px;
  line-height: 19px;
  display: inline-block;
}
#buttons .button:hover,#buttons .button.clicked{
	background: #1696d2;
  color: #fff;
}
.chartTitle{
	font-size: 18px;
    font-weight: bold;
    position: relative;
    margin-bottom: 30px;
}
.chartSubtitle{
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  left: 0px;
  top: 25px;
}
.chartTitle div{
	display: inline-block;
}
.chartTitle .valLabel{
	width: 100px;
  text-align: left;
  margin-left: 1px;
  color: #1696d2;
}
.chartTitle input{
	position: absolute !important;
    top: 22px !important;
    width: 100px;
}
#loanAmount{
	left: 224px;
}
#loanAmount2{
	left: 169px;
}


#downloadData{
    padding: 13px 20px 13px 20px;
    background-color: #1696d2;
    color: #fff;
    cursor: pointer;
    width: 150px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top:15px;
}
#downloadData a{
	color: #fff;
}
#downloadData:hover{
	background-color: #353535;
}

.controlContainer .valLabel{
  text-align: left;
  border: none;
  border-bottom: 2px solid #d2d2d2;
  background: #ffffff;
  color: #1696d2;
  width: 72px;
  font-size: 14px;
  font-weight: bold;
  padding-right: 16px;
  margin-top: 6px;
  margin-left: 9px;
}

.controlContainer.percentDiscretionaryAGI .valLabel{
  width: 36px;
  padding-right: 16px;
}
.controlContainer.minPayment .valLabel{
  width: 24px;
  margin-top: 22px;
  padding-right: 0px;
}
#minPayment, #forgivenessPeriod{
  margin-top: 17px;
}
.controlContainer.forgivenessPeriod .valLabel{
  padding-right: 42px;
  margin-top: 22px;
  width: 61px;
}
.controlContainer .valLabel.disabled{
  border: none;
	border-bottom: 2px solid #d2d2d2;
	color: #d2d2d2;
}
.controlContainer.percentDiscretionaryAGI .suffix{
    font-weight: bold;
    font-size: 14px;
    margin-left: -15px;
    color: #1696d2;
}

.controlContainer.forgivenessPeriod .suffix{
	margin-left: -39px;
    font-size: 14px;
    font-weight: bold;
    color: #1696d2;
}
.suffix.disabled{
	color: #d2d2d2 !important;
}
.controlContainer.minPayment .prefix{
  color: #1696d2;
	position: relative;
	left: 21px;
	font-size: 14px;
	font-weight: bold;
	margin-left: -8px;
  left: 16px;
}
.controlContainer.minPayment .valLabel{
	text-align: left;
	padding-left: 9px;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}
.controlContainer .label{
	font-weight: bold;
    font-size: 14px;
    margin-bottom: 0px;
}
#noForgiveness{
	font-size: 13px;
    font-style: italic;
    margin-top: 8px;
    color: #9d9d9d;
    display: none;
}
#noForgiveness.disabled{
	display: block;
}
#capLabel{
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    width: 280px;
    top: -2px;
    position: relative;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    margin: 0 !important; 
}

.valLabel {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}






/***************************************************************************/
/****************************** YES/NO SWITCH ******************************/
/***************************************************************************/

#capAtStandardRepayment{
  margin-top: 10px;
}

.switch {
    background-image: url(../images/yes-no.png);
    background-color: #696969;
    background-repeat: no-repeat;
    width: 63px;
    height: 26px;
    border-radius: 20px;

    /*display: inline-block;*/
    background-size: cover;
    cursor: pointer;
    /*margin-right: 9px;*/
    /*top: 4px;*/
    /*left: 4px;*/
    /*position: relative;*/

    -webkit-transition:background-position .1s ease-in;  
    -moz-transition:background-position .1s ease-in;  
    -o-transition:background-position .1s ease-in;  
    transition:background-position .1s ease-in; 
}
.switch.off {
    background-position: 2px 0px;
    background-color: #696969;
}

.switch.on {
    background-position: -35px 0px;
    background-color: #1696d2;
}
.switch.off:hover{ 
  background-color: #333 !important;
}
.switch.on:hover{ 
  background-color: #12719e !important;
}

/***************************************************************************/
/************************ CROSS BROWSER RANGE INPUT ************************/
/***************************************************************************/
/*modified from http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html*/

input[type=range] {
	float: left;
	clear: both;
	position: relative;
	top: 6px;
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid #ffffff;
    height: 18px;
    background-color: transparent;
    
    /*required for proper track sizing in FF*/
    /*width: 300px;*/
}
input[type=range]::-webkit-slider-runnable-track {
    /*width: 300px;*/
    height: 5px;
    background: #9d9d9d;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #1696d2;
    margin-top: -4px;
    cursor: pointer;
}
input[type=range]:focus {
    outline: 0;
}
input::-moz-focus-inner{
	outline: 0;
}
input[type=range]::-moz-focus-outer {
    border: 0;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #353535;
    outline: none;
}

input[type=range]::-moz-range-track {
    /*width: 300px;*/
    height: 5px;
    background: #9d9d9d;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #1696d2;
    cursor: pointer;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid #ffffff;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    /*width: 300px;*/
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #9d9d9d;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #9d9d9d;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #1696d2;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #353535;
}
input[type=range]:focus::-ms-fill-upper {
    background: #353535;
}


/***************************************************************************/
/******************* CROSS BROWSER DISABLED RANGE INPUT ********************/
/***************************************************************************/
/*modified from http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html*/

input.disabled[type=range]::-webkit-slider-runnable-track {
    background: #d2d2d2;
}
input.disabled[type=range]::-webkit-slider-thumb {
    background: #d2d2d2;
}
input.disabled[type=range]:focus::-webkit-slider-runnable-track {
    background: #d2d2d2;
}

input.disabled[type=range]::-moz-range-track {
    background: #d2d2d2;
}
input.disabled[type=range]::-moz-range-thumb {
    background: #d2d2d2;
}

input.disabled[type=range]::-ms-fill-lower {
    background: #d2d2d2;
}
input.disabled[type=range]::-ms-fill-upper {
    background: #d2d2d2;
}
input.disabled[type=range]::-ms-thumb {
    background: #d2d2d2;
}
input.disabled[type=range]:focus::-ms-fill-lower {
    background: #d2d2d2;
}
input.disabled[type=range]:focus::-ms-fill-upper {
    background: #d2d2d2;
}







/***************************************************************************/
/******************** CROSS BROWSER TRIANGLE RANGE INPUT *******************/
/***************************************************************************/
/*modified from http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html*/

input.triangle[type=range] {
	float: left;
	clear: both;
	position: relative;
	top: 6px;
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid #ffffff;
    height: 18px;
    background-color: transparent;
    
    /*required for proper track sizing in FF*/
    /*width: 300px;*/
}
input.triangle[type=range]::-webkit-slider-runnable-track {
    /*width: 300px;*/
    height: 5px;
    background: #9d9d9d;
    border: none;
    border-radius: 3px;
}
input.triangle[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 18px solid #1696d2;
	margin-top: -9px;
	cursor: pointer;
	border-radius: 0;
	background: none;
}
input.triangle[type=range]:focus {
    outline: 0;
}
input.triangle::-moz-focus-inner{
	outline: 0;
}
input.triangle[type=range]::-moz-focus-outer {
    border: 0;
}
input.triangle[type=range]:focus::-webkit-slider-runnable-track {
    background: #353535;
    outline: none;
}

input.triangle[type=range]::-moz-range-track {
    /*width: 300px;*/
    height: 5px;
    background: #9d9d9d;
    border: none;
    border-radius: 3px;
}
input.triangle[type=range]::-moz-range-thumb {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 18px solid #1696d2;
	margin-top: -9px;
	cursor: pointer;
	border-radius: 0;
	background: none;
}

/*hide the outline behind the border*/
input.triangle[type=range]:-moz-focusring{
    outline: 1px solid #ffffff;
    outline-offset: -1px;
}

input.triangle[type=range]::-ms-track {
    /*width: 300px;*/
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input.triangle[type=range]::-ms-fill-lower {
    background: #9d9d9d;
    border-radius: 10px;
}
input.triangle[type=range]::-ms-fill-upper {
    background: #9d9d9d;
    border-radius: 10px;
}
input.triangle[type=range]::-ms-thumb {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 18px solid #1696d2;
	margin-top: -9px;
	cursor: pointer;
	border-radius: 0;
	background: none;
}
input.triangle[type=range]:focus::-ms-fill-lower {
    background: #353535;
}
input.triangle[type=range]:focus::-ms-fill-upper {
    background: #353535;
}


#isMobile, #isPhone{
  display: none;
  position: fixed;
  width: 0px;
  height: 0px;
  top: 0px;
  left: 0px;
  pointer-events: none;
}
.desktopCopy{
  display: inline-block;
}
.mobileCopy{
  display: none;
}
/***************************************************************************/
/******************** MOBILE *******************/
/***************************************************************************/
@media(max-width: 1200px){
  #isMobile{
    display: block;
  }
  .desktopCopy{
    display: none;
  }
  .mobileCopy{
    display: inline-block;
  }
  #controls{
    width: 768px;
  }
  #buttonLabel{
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .controlContainer{
    width: calc(33% - 95px)
  }
  .button.repayeUndergrad{
    margin-left: 53px !important;
  }
  .controlContainer.capAtStandardRepayment, #capLabel{
    width: 220px;
  }
  .controlContainer .valLabel{
    display: inline-block;
    padding-top: 15px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
  }
  .prefix{
    display: block;
    float: left;
    clear: left;
    position: initial;
    margin-top: 17px;
    z-index: 1;
    left: 7px !important;
  }
  .controlContainer.minPayment .valLabel {
      position: relative;
      z-index: 0;
  }
  #minPayment{
    margin-top: 0px;
    z-index: 1;
  }
  #repaymentChart, #yearsChart{
     padding: 0px;
    margin: 0 auto;
    float: none;
    display: block;
    width: 700px;
    margin-top: 32px;

  }

  #notes-container {
    width: 700px;
    margin: 0 auto;
    display: block;
    padding: 0px;
  }

  #notes{
    float: left;
    display: block;
    padding-left: 0px;
    width: 70%;
  }

  .urban-logo {
    float: left;
  }
}

/***************************************************************************/
/******************** PHONE *******************/
/***************************************************************************/
@media(max-width: 768px){
  #isMobile{
    display: none;
  }
  #isPhone{
    display: block;
  }
  .chartTitle{
    font-size: 16px;
  }
  #loanAmount{
    left: 194px;
  }
  #loanAmount2 {
    left: 146px;
  }

  #notes-container {
    width: 320px;
  }

  #notes{
    width: 100%;
    padding-left: 10px;
  }

  .urban-logo-text {
    display: none;
  }

  .urban-logo {
    padding-left: 10px;
  }

  #downloadData{
    font-size: 12px;    
    /*margin-left: 10px;*/
    /*margin-top: 10px;*/
    /*float: none;*/
  }
  #repaymentChart, #yearsChart{
    width: 320px;
  }
  #controls{
    width: 290px;
  }
  #buttonLabel{
    font-size: 13px;
  }
  #buttons .button{
    display: block;
    width: 180px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .controlContainer{
    width: 100%;
    height: 75px;
  }
  .prefix {
    display: inline;
    float: none;
    margin-left: 10px !important;
  }
.controlContainer .valLabel {
    display: inline-block;
    padding-top: 8px !important;
    margin-left: 10px !important;
}
.controlContainer.minPayment .valLabel{
  left: -10px !important;
}
.controlContainer.capAtStandardRepayment{
  margin-left: 0px;
}
#minPayment, #forgivenessPeriod {
    margin-top: 0px !important;
}
}